.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.dropdown-submenu {
  position: relative;
}
     
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.test {
  display: inline;
}


.dropdown-menu>li>span>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}