.user-form {
  width: 40rem;
  max-width: 90%;
  margin: auto;
  height: auto;
}

.user {
  width: 20rem;
  max-width: 95%;
}

.user__name {
  font-size: 3rem;
  text-align: center;
}

.user__position {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.user__status,
.user__age {
  text-align: center;
}

.form-control {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: auto;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input{
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #00695c;
}

.form-control > div:last-of-type {
  grid-column: 1 / 3;
}

.form-control button {
  width: 50%;
  margin: auto;
  grid-column: 1/-1;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}